.pessoas {
  /*Para colocar os elementos ao lado*/
  display: flex;
  justify-content: space-around;

  padding-top: 3rem;
}

@media screen and (min-width: 0) {
  .pessoas {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .pessoas {
    flex-direction: row;
  }
}
